{% extends 'base.html' %}
{% block title %}
    Контакты
{% endblock %}
{% block content %}
    <div class="adress _container">
            <h2>Адреса и телефоны</h2>
            <pre>Телефон: 899999999999</pre>
            <pre>Адрес: CCCP, п.г.т Красный баран</pre>
            <pre>Email: kupislona@elastiko.com</pre>
            <br>
            <iframe src="https://api-maps.yandex.ru/frame/v1/-/CZTVEH74" width="100%" height="374"></iframe>
            <br>
            <p class="wow">Наш магазин непременно Вас удивит!!!</p>
          </div>
{% endblock %}