<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap-5.3.0-dist/bootstrap.min.css">
    <title>{{ title }}</title>
</head>
<body>
    <h1 class="text-monospace">Привет, меня зовут {{ name }}</h1>
    <img src="/static/image/foto.png" alt="фото" width="300">
    <p class="text-body text-justify">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Ad cupiditate doloribus ducimus nam
        provident quo similique! Accusantium aperiam fugit magnam quas
        reprehenderit sapiente temporibus voluptatum!</p>
    <p class="alert-dark">Все права защищены &copy;</p>
</body>
</html>